{% extends 'layouts/default/page.html' %} {% load i18n %}{% load bootstrap4 %}

{% block content %} 

{% if request.user.is_authenticated %} 
{% trans 'Your username is' %} <b>{{ request.user.username }}</b>. 
{% else %} {% trans 'You are a guest.' %} 
{% endif %}


<h2> WORLD TRADING DATA<h2>
        <p> Stock Data for <strong>{{symbol}}</strong>: </p>
        
        <!--
        <form method="get">

            {% csrf_token %}
            {% bootstrap_form form %}
    
            <button class="btn btn-primary">{% trans 'Search stock' %}</button>
        -->
    
        <form method="get">
          {{ form.as_p }}
          <button type="submit">search</button>
        </form>
{% endblock %}